@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #777;
	line-height: 25px;
}
*{
    margin: 0;
    padding: 0;
}
ul , ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.ml-auto {
	margin: auto;
}

/*====================Main Menu Area==================*/
.navbar {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.navbar-brand img {
	max-width: 177px !important;
}
.navbar-nav li {
	padding: 35px 0;
}
.navbar-nav li a {
	font-size: 15px;
	line-height: 33px;
	text-transform: capitalize;
	font-family: "Poppins";
	font-weight: 700;
	color: #fff;
	display: block;
	padding: 0px 15px !important;
}
.navbar-nav li a:hover{
	color: #fff;
}
.appointBtn a {
	padding: 13px 35px !important;
	border-radius: 50px;
	letter-spacing: 0.5px;
	background: #fff;
	font-family: "Poppins";
	font-weight: 700;
	font-size: 15px;
	line-height: 40px;
	color: rgba(34, 52, 65, 1);
	transition: all linear.4s;
}
.appointBtn a:hover{
	color: #4db0e1;
}
/*====================Main Banner Area==================*/
#banner-area{
	margin-top: -145px !important;
    margin-bottom: -115px !important;
    padding-top: 245px !important;
    padding-bottom: 20px !important;
	background: #00a0ff;
	background-repeat: no-repeat;
	background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
#banner-area{
	padding: 0 !important;
}
.partent-bottom{
	margin-top: -145px !important;
    margin-bottom: -115px !important;
    padding-top: 245px !important;
    padding-bottom: 20px !important;
    background-image: url(../images/Clinika-pattern_top.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
	position: relative;
}
.partent-top{
	margin-top: -55px !important;
    margin-bottom: -110px !important;
    padding-top: 205px !important;
    padding-bottom: 20px !important;
    background-image: url(../images/Clinika-pattern-bottom.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
	position: relative;
}
.banner-image img {
	margin-top: 120px;
}
.freespace{
	height: 190px;
}
.banner-title {
	font-size: 55px;
	color: #ffffff;
	line-height: 56px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	font-family: 'Jost', sans-serif !important;
}
.banner-text {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	line-height: 150%;
	margin-top: 15px;
}
.banner-btn{
	color: #ffffff;
	padding: 15px 35px;
	border-radius: 35px;
	font-size: 14px;
	letter-spacing: .5px;
	font-weight: 600;
	background-color: rgb(0, 107, 166);
	margin-top: 35px !important;
	display: inline-block;
	transition: all linear.4s;
}
.banner-btn:hover{
	background-color: #4db0e1;
	color: #fff;
}
/*====================About Us Area==================*/
.about-us-wrapper {
	position: relative;
	z-index: 111;
}
.about-image {
	margin-top: 35px;
}
.about-title-img {
	margin: 0;
}
.about-title-img img {
	width: 100%;
}
.about-content {
	margin-top: 10px;
}
.about-title {
	font-size: 36px;
	color: #222222;
	line-height: 46px;
	text-align: left;
	margin-top: -25px !important;
	margin-bottom: 35px;
	font-family: 'Jost', sans-serif !important;
}
.about-desc {
	font-size: 15px;
	font-weight: 400;
	color: #777777;
	line-height: 150%;
	font-family: poppins;
}
/*====================Benifit Area==================*/
.benifit-wrapper {
	margin-top: -150px !important;
	margin-bottom: -155px !important;
	padding-top: 157px !important;
	padding-bottom: 50px !important;
	background-color: #f5f7fb !important;
	background-size: cover;
	background-position: 100%;
}
.benifit-title {
	font-size: 36px;
	color: #222222;
	line-height: 46px;
	text-align: left;
	margin-top: -25px !important;
	margin-bottom: 35px;
	font-family: 'Jost', sans-serif !important;
}
.single-benifit-icon img {
	max-width: 60px;
}
.single-benifit-title h3 {
	margin-top: 10px;
	font-size: 20px;
	font-family: 'Jost', sans-serif !important;
	font-weight: bold;
	color: #434959;
}
.single-benifit-desc p {
	font-size: 15px;
	font-weight: 400;
	color: #777777;
	line-height: 150%;
	font-family: Poppins;
}
.benifit-right {
	margin-top: 40px;
}

/*====================fecility-area==================*/
#fecility-area {
	position: relative;
	z-index: 999;
	background: #fff;
}
.facility-title{
	text-align: center;
}
.facility-title2 {
	font-size: 48px;
	color: #3d404f;
	line-height: 56px;
	text-align: center;
	margin-top: -60px !important;
	font-weight: bold;
	font-family: 'Jost', sans-serif !important;
}
.facility-desc {
	font-size: 15px;
	font-weight: 400;
	color: #777777;
	line-height: 150%;
	padding: 0 129px;
	margin-top: 35px;
}
.tab-navs ul li a img {
	max-height: 50px;
	width: auto;
	display: block;
	margin: 0 auto;
}
.tab-title {
	font-size: 18px !important;
	font-weight: 500;
	color: #4DB0E1;
	margin-top: 20px;
	margin-bottom: 0;
}
.tab-navs ul li {
	border: 0.5px solid #EAEAEA;
}
.tab-navs ul li a {
	padding: 30px 0;
	text-align: center;
}
.tab-navs ul li a img {
	max-height: 50px;
	width: auto;
	display: block;
	margin: 10px auto;
	padding: 0 86px;
}
.tab-navs .nav-tabs {
	border-bottom: unset !important;
}
.tab-navs .nav-tabs .nav-link {
	border: unset !important;
}
.tab-navs ul li:first-child{
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
}
.tab-navs ul li:last-child {
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}
.tab-navs ul li:focus .active{
	background:rgb(0, 107, 166);
}
.tab-navs ul li a.active{
	color: #fff;
	background: linear-gradient( 90deg , #006BA6 0%, #4DB0E1 100%) !important;
}
.tab-navs ul li a h5 {
	color: #DA5F60;
	font-size: 18px !important;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 0;
}
.tabs-text h3 {
	font-size: 28px;
	font-family: "Jost";
	margin-top: 20px;
	margin-bottom: 10px;
	color: #434959;
}
.tab-desc {
	margin: 0;
	padding: 0;
	color: #8b8b8a;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: left;
	margin-top: 25px;
}
.tab-contents{
	margin-top: 70px;
	position: relative;
}

/*====================services-section==================*/
#services-section {
	margin-top: -150px !important;
	margin-bottom: -155px !important;
	padding-top: 157px !important;
	padding-bottom: 50px !important;
	background-color: #777 !important;
	background-size: cover;
	background-position: 100%;
}
.services-title {
	font-size: 36px;
	color: #ffffff;
	line-height: 46px;
	text-align: center;
	font-family: "Jost";
	margin-top: -25px !important;
	font-weight: bold;
}
.services-content {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	line-height: 150%;
	padding: 0 152px;
	text-align: center;
}
.single-services {
	color: white;
	overflow: hidden;
	padding-bottom: 20px !important;
	padding: 15px 30px;
	background: #fff;
	box-shadow: 0px 0px 20px rgb(0 0 0 / 7%);
	border-radius: 14px;
	text-align: center;
}
.serveces-feture {
	max-width: 100px;
	margin: auto;
	overflow: hidden;
	margin-top: 20px;
}
.serveces-feture img{
	transition: all linear.4s;
}
.serveces-feture:hover img{
	transform: scale(1.3);
}
.single-services-title {
	color: #666666;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	font-family: "Jost";
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
	transition: all linear.4s;
}
.single-services-title:hover{
	color: #4db0e1;
}
.single-services-desc {
	font-size: 15px;
	font-weight: 400;
	color: #7c7c7c;
	line-height: 150%;
	padding: 0 36px;
}
/*====================Review-section==================*/
#review-section {
	position: relative;
	z-index: 999;
}
.review-content{
	position: relative;
}
.review-desc {
	font-size: 15px;
	font-weight: 400;
	color: #7c7c7c;
	line-height: 150%;
}
.rivew-slider {
	position: relative;
}
.rivew-slider {
	color: white;
	overflow: hidden;
	padding: 50px 30px;
	background: #fff;
	box-shadow: 0px 0px 20px rgb(0 0 0 / 7%);
	border-radius: 14px;
	padding-left: 60px;
}
.review-slide-title strong {
	font-size: 20px;
	color: #222;
	font-weight: bold;
	font-family: "Jost";
	margin-top: 20px;
	display: block;
	text-align: left;
}
.review-single p {
	font-size: 16px;
	padding-bottom: 10px;
	line-height: 26px;
	font-family: Poppins;
	width: 80%;
	color: rgba(37, 37, 37, 0.5);
	text-align: left;
}
.review-bottom {
	display: flex;
}
.review-left {
	border-radius: 50%;
	overflow: hidden;
	transform: none;
	width: 80px;
	margin: 0;
	height: 80px;
}
.review-left img {
	width: 100%;
	padding: 0;
	height: 100%;
}
.review-right {
	margin-left: 20px;
}
.client-name {
	clear: both;
	margin: 0;
	font-size: 22px;
	margin-top: 10px;
	color: #000;
	font-family: "Jost";
	font-weight: bold;
}
.review-posi {
	background: #fff;
	margin: 0;
	font-size: 13px !important;
	line-height: 13px !important;
	padding-top: 5px;
	letter-spacing: 0.5px;
	color: #606060 !important;
	text-transform: uppercase;
	font-weight: 400;
	font-family: Poppins;
}
.slick-dots {
	position: absolute;
	bottom: 25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	left: 2%;
	border-radius: 50% !important;
}
.slick-dots {
	position: absolute;
	bottom: 25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	left: 2%;
	border-radius: 50% !important;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	width: 15px !important;
	height: 15px !important;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
	border-radius: 50%;
	background: #00a0ff;
}
.slick-dots li.slick-active {
	background: #f00;
}

/*====================Member-section==================*/
#ouer-members {
	background: #575757;
}
.member-title {
	color: #00a0ff;
}
.team-slide-title {
	font-size: 22px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 5px;
	font-family: "Jost";
	font-weight: bold;
	text-align: center;
}
.team-slide-title a{
	color: #4DB0E1;
}
.team-slide-dsc {
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	color: #4DB0E1;
}
.teamfeture-image img {
	Width: 100%;
	height: auto;
}
.team-slide-social {
	display: inline-block;
	background: #00a0ff;
	border-radius: 25px;
	padding: 0 10px;
}
.team-slide-social ul li a {
	padding: 10px 10px;
	display: block;
	color: #fff;
	transition: all linear.4s;
}
.team-slide-social ul li a:hover{
	color: #f00;
}
.single-team-slider{
	position: relative;
}
.team-slide-social {
	display: inline-block;
	background: #00a0ff;
	border-radius: 25px;
	position: absolute;
	bottom: 119px;
	left: 50%;
	transform: translate(-50%);
	transition: all linear.4s;
	display: none;
}
.single-team-slider:hover .team-slide-social {
	display: block;
}
.single-team-slider {
	margin-right: 25px;
}
.team-slider-wrapper .slick-dots {
	bottom: -30px !important;
}
.next.slick-arrow {
	background: #00a0ff;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	line-height: 42px;
	font-size: 28px;
	position: absolute;
	right: -28px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.prev.slick-arrow {
	background: #00a0ff;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	line-height: 42px;
	font-size: 28px;
	position: absolute;
	left: -54px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
/*====================Member-section==================*/
#subscripe-section {
	position: relative;
}
.sub-content{
	color: #00a0ff;
}
.sub-wiget {
	background: #00a0ff;
	padding: 20px 20px;
	position: relative;
	border-radius: 31px;
	height: 70px;
}
.sub-wiget input {
	background: transparent;
	border: none;
	font-size: 16px;
	color: #272727;
	font-weight: normal;
	font-family: jost;
	position: absolute;
	left: 28px;
	line-height: 31px;
	width: 85%;
	padding: 15px 0px;
	top: 5px;
}
.sub-wiget button {
	position: absolute;
	border: none;
	padding: 15px 42px;
	border-radius: 25px;
	right: 7px;
	top: 7px;
	color: #272727;
	font-family: jost;
}
/*====================News-section==================*/
#news-section {
	padding: 100px 0;
}
.news-title {
	font-size: 36px;
	color: #222222;
	line-height: 46px;
	text-align: center;
}
.services-content.news {
	text-align: center;
	color: #222;
}
.news-meta span {
	font-weight: 500;
	font-size: 13px;
	color: #4DB0E1;
	margin: 15px 10px;
}
.news-title h3 {
	font-weight: 600;
	margin: 0;
	font-size: 30px;
	line-height: 140%;
	text-align: left;
	font-family: "Jost";
}
.news-title h3 a {
	color: #3D404F;
}
.news-content p {
	line-height: 150%;
	margin: 15px 0 0;
	opacity: 1;
	color: #606060;
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.news-content a {
	color: #4db0e1;
}
.news-feture img {
	border-radius: 10px;
}
/*===========partner========================*/
.partner-img img {
	opacity: 0.5;
	transition: all linear.4s;
}
.partner-img img:hover{
	opacity: 1;
}
.partner-img img {
	width: 100%;
	height: 65px;
	padding: 0 15px;
	display: block;
}
/*===========Footer========================*/
#footer {
	background: #333;
}
.wiget-sb {
	width: 400px;
	border: 1px solid #ddd;
	border-radius: 30px;
	position: relative;
}
.wiget-sb input {
	font-size: 16px;
	background: transparent;
	border: none;
	padding: 10px 0;
	padding-left: 15px;
	color: #ddd;
}
.wiget-sb button {
	border: none;
	color: #fff;
	background: #00a0ff;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: absolute;
	right: 4px;
	top: 2px;
}
.f-social {
	display: flex;
	margin-top: 20px;
}
.f-social span {
	margin-top: 0;
	font-weight: bold;
	margin-bottom: 25px;
	font-size: 20px;
	margin-right: 10px;
	color: #fff;
}
.f-social ul li a {
	padding: 0;
	line-height: 30px;
	color: #fff !important;
	width: 30px;
	height: 30px;
	font-size: 18px;
	margin: 0;
	padding: 10px;
}
.f-title h3 {
	margin-top: 0;
	font-weight: bold;
	margin-bottom: 25px;
	margin: 5px 0;
	color: #fff;
	font-size: 20px;
	font-family: "Jost";
}
.f-content p {
	color: #fff;
	margin-top: 20px;
	margin-bottom: 5px;
}
.f-menu ul li a {
	margin-left: 0px;
	font-size: 15px;
	line-height: 25px;
	color: #fff;
	margin-right: 5px;
	padding: 5px 0;
	display: block;
}
.copyrite {
	background: #00a0ff;
	text-align: center;
	color: #fff;
	padding: 15px 0;
	font-size: 16px;
	font-weight: bold;
}